<configuration scan="true" scanPeriod="30 seconds" packagingData="true">

	<property name="LOG_PATTERN" value="%d{dd/MM/yyyy HH:mm:ss.SSS} [%-10.-10thread] [%-5level] %-70logger{70} - %msg%n"/>
	<property name="LOG_FILE_NAME" value="craft-beer.log"/>

 	<appender name="textFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logs/${LOG_FILE_NAME}</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_NAME}.%d{yyyy-MM-dd_HH}hs.%i.zip</fileNamePattern>
			<maxHistory>240</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
    </appender>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="com.beerhouse" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="textFile" />
		<appender-ref ref="console" />
	</root>

</configuration>
